---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Image Gallery | Pines UI"
  description="Astro Everest is an image gallery built with Alpine.js and TailwindCSS."
>
  <div
    x-data="imageGallery"
    @image-gallery-next.window="imageGalleryNext()"
    @image-gallery-prev.window="imageGalleryPrev()"
    @keyup.right.window="imageGalleryNext();"
    @keyup.left.window="imageGalleryPrev();"
    class="h-full w-full select-none"
  >
    <div
      class="ease animate-fade-in-view mx-auto max-w-6xl select-none opacity-0 delay-300 duration-1000"
      style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
    >
      <ul
        x-ref="gallery"
        id="gallery"
        class="grid grid-cols-2 gap-5 lg:grid-cols-5"
      >
        <template x-for="(image, index) in imageGallery">
          <li>
            <img
              x-on:click="imageGalleryOpen"
              :src="image.photo"
              :alt="image.alt"
              :data-index="index+1"
              class="aspect-[5/6] h-auto w-full cursor-zoom-in select-none rounded bg-gray-200 object-cover lg:aspect-[2/3] xl:aspect-[3/4]"
            />
          </li>
        </template>
      </ul>
    </div>
    <template x-teleport="body">
      <div
        x-show="imageGalleryOpened"
        x-transition:enter="transition ease-in-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:leave="transition ease-in-in duration-300"
        x-transition:leave-end="opacity-0"
        @click="imageGalleryClose"
        @keydown.window.escape="imageGalleryClose"
        x-trap.inert.noscroll="imageGalleryOpened"
        class="fixed inset-0 z-[99] flex cursor-zoom-out select-none items-center justify-center bg-black bg-opacity-50"
        x-cloak
      >
        <div
          class="h-11/12 relative flex w-11/12 items-center justify-center xl:w-4/5"
        >
          <div
            @click="$event.stopPropagation(); $dispatch('image-gallery-prev')"
            class="absolute left-0 flex h-14 w-14 translate-x-10 cursor-pointer items-center justify-center rounded-full bg-white/10 text-white hover:bg-white/20 xl:-translate-x-24 2xl:-translate-x-32"
          >
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5L8.25 12l7.5-7.5"></path></svg
            >
          </div>
          <img
            x-show="imageGalleryOpened"
            x-transition:enter="transition ease-in-out duration-300"
            x-transition:enter-start="opacity-0 transform scale-50"
            x-transition:leave="transition ease-in-in duration-300"
            x-transition:leave-end="opacity-0 transform scale-50"
            class="h-full w-full cursor-zoom-out select-none object-contain object-center"
            :src="imageGalleryActiveUrl"
            alt=""
            style="display: none;"
          />
          <div
            @click="$event.stopPropagation(); $dispatch('image-gallery-next');"
            class="absolute right-0 flex h-14 w-14 -translate-x-10 cursor-pointer items-center justify-center rounded-full bg-white/10 text-white hover:bg-white/20 xl:translate-x-24 2xl:translate-x-32"
          >
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"></path></svg
            >
          </div>
        </div>
      </div>
    </template>
  </div>
</BaseLayout>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('imageGallery', () => ({
      imageGalleryOpened: false,
      imageGalleryActiveUrl: null,
      imageGalleryImageIndex: null,
      imageGallery: [
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-01.jpeg',
          alt: 'Photo of Mountains',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-02.jpeg',
          alt: 'Photo of Mountains 02',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-03.jpeg',
          alt: 'Photo of Mountains 03',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-04.jpeg',
          alt: 'Photo of Mountains 04',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-05.jpeg',
          alt: 'Photo of Mountains 05',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-06.jpeg',
          alt: 'Photo of Mountains 06',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-07.jpeg',
          alt: 'Photo of Mountains 07',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-08.jpeg',
          alt: 'Photo of Mountains 08',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-09.jpeg',
          alt: 'Photo of Mountains 09',
        },
        {
          photo: 'https://cdn.devdojo.com/images/june2023/mountains-10.jpeg',
          alt: 'Photo of Mountains 10',
        },
      ],
      imageGalleryOpen(event) {
        this.imageGalleryImageIndex = event.target.dataset.index
        this.imageGalleryActiveUrl = event.target.src
        this.imageGalleryOpened = true
      },
      imageGalleryClose() {
        this.imageGalleryOpened = false
        setTimeout(() => (this.imageGalleryActiveUrl = null), 300)
      },
      imageGalleryNext() {
        this.imageGalleryImageIndex =
          this.imageGalleryImageIndex == this.imageGallery.length
            ? 1
            : parseInt(this.imageGalleryImageIndex) + 1
        this.imageGalleryActiveUrl = this.$refs.gallery.querySelector(
          "[data-index='" + this.imageGalleryImageIndex + "']",
        ).src
      },
      imageGalleryPrev() {
        this.imageGalleryImageIndex =
          this.imageGalleryImageIndex == 1
            ? this.imageGallery.length
            : parseInt(this.imageGalleryImageIndex) - 1
        this.imageGalleryActiveUrl = this.$refs.gallery.querySelector(
          "[data-index='" + this.imageGalleryImageIndex + "']",
        ).src
      },
    }))
  })
</script>
